.img-body{
  text-align: center;
}


  .stars{
    display: flex;
    color: black;
    padding: 30px;
  }
  .stars img {
  opacity: 30%;
  cursor: pointer;
  padding: 5px;
  color-scheme: black;
  }
  .stars:hover img{
    opacity: 150%;
  }
  .stars img:hover {
    opacity: 150%;
  }
  .stars img:hover ~ img {
    opacity: 30%;
    color: black;
  }
  .stars img.active {
    opacity: 150%;
    color: black;
  }
  .stars.disabled{
    pointer-events: none;
  }

  .footer-button{
    text-align: center;
    padding: 20px;
}