
.container-h1{
   margin: 0 auto;
   height: 100%;
   width: 760px;
}

.container-h1 h1{
    text-align: center;
    margin: 55px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: white;
}
.container-h1 h1 B{
    font-weight: 600;
}

/* stile contenitore bottone*/
.container-button{
    margin: 0 auto;
    height: 100%;
    width: 760px;
    display: block;
}

.margin-container-botton{
    margin: 10px;
}

.button-style{
    display: inline-block;
    width: 340px;
    height: 70px;
    margin: 10px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(78, 78, 78), darkorchid) border-box;
    border-radius: 50em;  
    border: 4px solid transparent;
}

.button-style p{
text-align: center;
}

.divider{
    height: 80px;
}

.container-footer{
    margin: 0 auto;
    height: 100%;
    width: 760px;
    color: white;
    text-align: center;
}

.container-footer h2{   
    font-family: 'Outfit', sans-serif;
    color: white;
    display: inline-block;
}

.container-footer span{
    color: #b51289;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}


#timercontainer{
    color: white;
    font-family: 'Outfit', sans-serif;
    display: list-item;
    list-style: none;
    text-align: center;
    width: 60px;
    margin-left: 100%;
    margin-top: -35px;
}

#timercontainer p{
    font-size: 8px;
}

#contatore{
    font-size: 28px;
}
