:root {

    font-size: 18px;

}

.base-timer {
    height: 125px;
    width: 125px;
    margin-left: 1100px;
    margin-top: -45px;
    filter: drop-shadow(0 0 0.1rem rgb(0, 0, 0));
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
    fill: none;
    stroke: none;

}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
    stroke-width: 10px;
    stroke: rgba(255, 255, 255, 0.257);
    filter: drop-shadow(0 0 0.20rem rgb(0, 0, 0));
}


.base-timer__label {
    top: 0;
    text-align: center;
    font-size: 48px;
}

.base-timer__path-remaining {
    /* Just as thick as the original ring */
    stroke-width: 10px;

    /* Rounds the line endings to create a seamless circle */
    stroke-linecap: round;

    /* Makes sure the animation starts at the top of the circle */
    transform: rotate(90deg);
    transform-origin: center;

    /* One second aligns with the speed of the countdown timer */
    transition: 1s linear all;

    /* Allows the ring to change color when the color value updates */
    stroke: #00ffff;
}

.container-h1 {
    margin: 0 auto;
    height: 100%;
    width: 760px;
}

.container-h1 h1 {
    text-align: center;
    margin: 55px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: white;
}

.container-h1 h1 B {
    font-weight: 600;
}

/* stile contenitore bottone*/
.container-button {
    margin: 0 auto;
    height: 100%;
    width: 760px;
    display: block;
}

.container-main {

    width: 1200px;

}

.margin-container-botton {
    margin: 10px;
}

.button-style {

    cursor: pointer;
    display: inline-block;
    width: 340px;
    height: 80px;
    margin: 10px;

    background: linear-gradient(to right, rgba(255, 255, 255, 0.103), rgba(255, 255, 255, 0.177))border-box;
    border-radius: 50em;
    border: 4px solid rgba(255, 255, 255, 0.5);
}

.button-style:hover {
    background: linear-gradient(to right, #d20094, #900080)border-box;
}

.button-style p {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: 5px;
}

.divider {
    height: 80px;
}

.container-footer {
    margin: 0 auto;
    height: 100%;
    width: 760px;
    color: white;
    text-align: center;
}

.container-footer h2 {
    font-family: 'Outfit', sans-serif;
    color: white;
    display: inline-block;
}

.container-footer span {
    color: #b51289;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

#timercontainer {
    color: white;
    font-family: 'Outfit', sans-serif;
    display: list-item;
    list-style: none;
    text-align: center;
    width: 60px;
    margin: 0 auto;
    margin-top: -110px;
}

#timercontainer p {
    font-size: 8px;
}

#contatore {
    font-size: 28px;
    margin: 0;
}