:root {

    font-size: 25px;

}

body {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.container-main {
    margin-left: 120px;
}

.container-welcome-h1 {

    line-height: 65px;

}

footer {

    width: 85%;

}

.container-footer {

    width: 100%;
    height: 100%;
    margin-top: 45px;

}