@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
/* SIZING */
/* % */
/* FONT */
/* COLORS */
main {
  background-color: #121212;
  width: 60%;
  padding: 0 10px;
}
main #section_1 .arrow {
  padding: 10px 0;
  margin-top: 10px;
}
main #section_1 p {
  font-size: 0.8rem;
}
main #section_1 > p {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 20px 0;
}
main #section_1 .album_in_evidenza {
  border-radius: 5px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
}
main #section_1 .album_in_evidenza img {
  max-width: 200px;
  padding: 2px;
}
main #section_1 .album_in_evidenza .img_testi {
  display: flex;
}
main #section_1 .album_in_evidenza .testi {
  padding: 20px 10px;
}
main #section_1 .album_in_evidenza .testi p:first-child {
  text-transform: uppercase;
  font-size: 0.7rem;
}
main #section_1 .album_in_evidenza .testi p:nth-child(2) {
  font-size: 2.2rem;
  font-weight: 700;
}
main #section_1 .album_in_evidenza .testi .pulsanti .pulsante_play,
main #section_1 .album_in_evidenza .testi .pulsanti .pulsante_salva {
  padding: 5px 15px;
  font-weight: 700;
  border-radius: 20px;
  font-size: 0.6rem;
  text-decoration: none;
}
main #section_1 .album_in_evidenza .testi .pulsanti .pulsante_play {
  color: #000;
  background-color: #1ed760;
}
main #section_1 .album_in_evidenza .testi .pulsanti .pulsante_salva {
  border: 1px solid #4f4f4f;
  color: white;
}
main #section_1 .album_in_evidenza .testi .pulsanti span {
  font-size: 1.2rem;
  letter-spacing: 1.7px;
}
main #section_1 .album_in_evidenza span {
  padding: 20px 10px;
  text-transform: uppercase;
  color: #686868;
  font-size: 0.7rem;
}
main #section_1 .preferiti {
  display: flex;
  flex-direction: column;
}
main #section_1 .preferiti .tre_in_alto,
main #section_1 .preferiti .tre_in_basso {
  display: flex;
}
main #section_1 .preferiti .preferito {
  width: 100%;
  background-color: #2c2c2c;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}
main #section_1 .preferiti .preferito img {
  width: 25%;
  max-width: 100px;
  padding: 2px;
}
main #section_1 .preferiti .preferito .testi {
  padding: 5px 10px;
}
main #section_2 {
  padding-bottom: 100px;
}
main #section_2 .testi {
  font-size: 0.8rem;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
main #section_2 .testi p {
  font-weight: 700;
}
main #section_2 .testi span {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #686868;
}
main #section_2 .altri_preferiti {
  display: flex;
}
main #section_2 .altri_preferiti .altro_preferito {
  width: 20%;
  background-color: #171717;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
main #section_2 .altri_preferiti .altro_preferito img {
  width: 100%;
}
main #section_2 .altri_preferiti .altro_preferito p,
main #section_2 .altri_preferiti .altro_preferito span {
  font-size: 0.8rem;
}
main #section_2 .altri_preferiti .altro_preferito span {
  color: #686868;
}/*# sourceMappingURL=style_index.css.map */