.lh-0 {
  line-height: 0;
}

.color-green-text {
  color: rgb(29, 185, 85);
}

.color-menu-down {
  border: none;
  background-color: rgb(40, 40, 40);
  box-shadow: 1px 0px 16px rgba(0, 0, 0, 0.562);
  width: 235px;
}
.color-menu-down i {
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.color-menu-down li {
  color: white;
}
.color-menu-down li a {
  color: white;
  font-size: 12px;
}
.color-menu-down li a:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  border-radius: 2px;
}
.color-menu-down li:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  border-radius: 2px;
}

main {
  background-color: rgb(56, 56, 56);
}

.line-border {
  border: 1px solid red;
}

#img-profile-size {
  background-color: aqua;
  border-radius: 100%;
  height: 20px;
  width: 20px;
}

.container-section-album {
  max-width: 1200px;
  margin: 0 auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-image: linear-gradient(rgb(230, 199, 81), rgb(107, 92, 39));
  color: white;
}

.visible {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.button-menu-song {
  margin-left: 20px;
}
.button-menu-song i {
  font-size: 22px;
}

.box-profile {
  background-color: black;
  padding: 1px;
  border-radius: 30px;
}
.box-profile h6 {
  font-size: 10px;
  text-align: right;
  margin: 0;
  margin-left: 8px;
}
.box-profile div i {
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
}
.box-profile li {
  list-style: none;
}
.box-profile ul {
  border: none;
  background-color: rgb(40, 40, 40);
  box-shadow: 1px 0px 16px rgba(0, 0, 0, 0.562);
  width: 235px;
}
.box-profile ul li {
  color: white;
}
.box-profile ul li a {
  color: white;
  font-size: 10px;
}
.box-profile ul li a:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  border-radius: 2px;
}
.box-profile ul li:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  border-radius: 2px;
}

.container-max-width {
  max-width: 1200px;
}

.postion-right {
  right: 0;
}

.container-next-album-profile {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-next-album-profile button {
  border: none;
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 100%;
  margin-right: 10px;
}
.container-next-album-profile button i {
  color: white;
}

.container-information-album .d-flex {
  margin-top: 20px;
  margin-left: 25px;
}

.image-box {
  height: 200px;
  width: 200px;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.404);
}

.container-information-band {
  align-items: center;
}
.container-information-band div p {
  margin: 0;
  margin-right: 5px;
}
.container-information-band div span {
  margin-left: 5px;
}
.container-information-band .image-artist {
  height: 25px;
  width: 25px;
  background-color: aqua;
  border-radius: 100%;
}

.big-h1 {
  font-size: 70px;
}

.small-h1 {
  font-size: 26px;
}

.transition-animation {
  display: block;
  visibility: hidden;
  transition: 0.5s;
  visibility: visible;
}

.container-song {
  max-width: 1200px;
  background-color: rgba(0, 0, 0, 0.308);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.container-button-list-song {
  margin-left: 10px;
  margin-right: 10px;
}
.container-button-list-song div i {
  color: rgb(224, 224, 224);
  font-size: 32px;
}

#button-play-d-lg, #button-play-d-md {
  background-color: black;
  border-radius: 50px;
  height: 56px;
  width: 56px;
}
#button-play-d-lg i, #button-play-d-md i {
  color: rgb(30, 215, 96);
  font-size: 56px;
  line-height: 0px;
}
#button-play-d-lg i:hover, #button-play-d-md i:hover {
  transition: 0.2s;
  color: white;
}

#button-play-mini {
  background-color: black;
  border-radius: 30px;
  height: 45x;
  width: 45px;
}
#button-play-mini i {
  color: rgb(30, 215, 96);
  font-size: 45px;
  line-height: 0px;
}
#button-play-mini i:hover {
  transition: 0.2s;
  color: white;
}

.sub-container-list-song {
  max-width: 1150px;
}
.sub-container-list-song .box-contaier-song:hover {
  background-color: rgb(49, 49, 49);
  border-radius: 5px;
}
.sub-container-list-song .box-contaier-song #name-artist {
  color: rgb(178, 178, 178);
  font-size: 10px;
  text-decoration: none;
}
.sub-container-list-song .box-contaier-song #name-artist:hover {
  cursor: pointer;
  text-decoration: underline;
}

.text-header-list {
  color: rgb(178, 178, 178);
  display: flex;
  align-items: center;
}

.border-button-list {
  border-bottom: 1px solid rgba(178, 178, 178, 0.486);
}

#index-number-list-none {
  font-size: 16px;
  margin: 18px;
}

#value-number-song {
  font-size: 16px;
  margin: 12px;
  width: 18px;
  text-align: center;
}

#image-albun {
  height: 100%;
}

#img-profile-artist {
  height: 100%;
  border-radius: 100%;
}

.cell-container-song {
  display: flex;
}

.color-text-sub-list {
  color: rgb(178, 178, 178);
}

.container-text-info-song {
  font-size: 10px;
}

#duration-song {
  font-size: 10px;
  text-align: right;
  color: rgb(178, 178, 178);
}

#title-song {
  font-size: 12px;
  color: white;
}

#duration-value {
  font-size: 10px;
}

.text-size-10 {
  font-size: 10px;
}

.slider_container {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modify the appearance of the slider /
.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/ Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

#contenitore-header {
  position: fixed;
}

.primi_tre li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  #contenitore-totale {
    flex-direction: column-reverse;
  }
  #contenitore-totale #riproduttore-mobile {
    background-color: rgb(40, 40, 40);
  }
  #contenitore-totale #contenitore-header {
    position: unset;
  }
  #contenitore-totale #tendina-profilo {
    display: none;
  }
  #contenitore-totale #titolo-album {
    flex-direction: column;
  }
  #contenitore-totale #titolo-album .image-box {
    margin: 0 auto;
    width: unset;
    height: unset;
  }
  #contenitore-totale #titolo-album #testi-titolo #category {
    display: none;
  }
  #contenitore-totale .container-information-band {
    flex-direction: column;
    align-items: unset;
  }
  #contenitore-totale .container-information-band #total-song {
    display: none;
  }
  #contenitore-totale .container-information-band #total-Timer {
    display: none;
  }
  #contenitore-totale #button-play-d-lg {
    display: none;
  }
  #contenitore-totale #intestazione-tabella {
    display: none;
  }
}/*# sourceMappingURL=album.css.map */