#contenitore_contenuti {

    display: flex;

}

header {

    width: 20%;
    background-color: $color_black;
    padding: $size_5;
    color: #686868;

    nav,
    p {

        font-size: $font_size_0_8;
        font-weight: $font_weight_500;
        padding: $size_10;
        color: #686868;

    }

    nav {

        border-bottom: 1px solid #686868;
        line-height: 2.2rem;

        ul {

            .primi_tre {

                margin-bottom: $size_20;
                
                /*& li:first-child {
        
                    color: $color_white;
        
                }*/

            }

            li {
    
                color: #686868;
                display: flex;
                align-items: center;
                transition: 0.5s ease-in-out;
    
                &:hover {
    
                    color: $color_white;
    
                }
    
                ion-icon {
        
                    font-size: $font_size_1_5;
                    padding-right: $size_10;
                    color: #686868;
                    transition: 0.5s ease-in-out;
        
                    &:hover {
        
                        color: $color_white;
        
                    }
        
                }
    
            }

        }

        ul > li {

            letter-spacing: 1.7px;
            font-size: $font_size_1_5;
            padding-bottom: $size_10;

        }

    }

    #playlist_laterali {

        padding: $size_10;

        ul {

            li {

                font-size: $font_size_0_8;
                color: #686868;
    
            }
            
  
        } 

    }

}