@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
/* SIZING */
/* % */
/* FONT */
/* COLORS */
main {
  background-size: cover;
  background-repeat: no-repeat;
  width: 65%;
}
main #section_1 {
  background-size: cover;
  background-repeat: no-repeat;
}
main #section_1 .contenitore_arrow_album {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main #section_1 .contenitore_arrow_album .contenitore_arrow {
  padding-left: 10px;
}
main #section_1 .contenitore_arrow_album .contenitore_arrow .arrow {
  background-color: rgba(2, 2, 2, 0.1764705882);
  padding: 5px;
  margin: 10px 5px;
  border-radius: 100%;
}
main #section_1 .contenitore_arrow_album .album_in_evidenza {
  background-color: unset;
}
main #section_1 .contenitore_arrow_album .album_in_evidenza .img_testi {
  display: flex;
}
main #section_1 .contenitore_arrow_album .album_in_evidenza .img_testi img {
  max-width: 200px;
  padding: 2px;
}
main #section_1 .contenitore_arrow_album .album_in_evidenza .testi {
  padding: 20px 10px;
}
main #section_1 .contenitore_arrow_album .album_in_evidenza .testi p:first-child {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
}
main #section_1 .contenitore_arrow_album .album_in_evidenza .testi p:first-child img {
  padding: 0;
  width: 30px;
}
main #section_1 .contenitore_arrow_album .album_in_evidenza .testi p:nth-child(2) {
  font-size: 3rem;
  font-weight: 700;
}
main #section_1 .contenitore_arrow_album .album_in_evidenza .testi p:nth-child(3) {
  display: flex;
  align-items: flex-end;
}
main #section_1 .contenitore_arrow_album .album_in_evidenza .testi p:nth-child(3) img {
  max-width: 40px;
}
main #section_1 .contenitore_arrow_album .album_in_evidenza .testi p:nth-child(3) span {
  font-size: 1.2rem;
  padding: 0 5px;
}
main #section_1 .tasti_azione_album {
  background-color: #1b1b1b;
  padding: 20px 30px;
  display: flex;
  align-items: center;
}
main #section_1 .tasti_azione_album .primo_div_mobile {
  display: flex;
  align-items: center;
}
main #section_1 .tasti_azione_album .secondo_div_mobile,
main #section_1 .tasti_azione_album .play_a_scomparsa_right,
main #section_1 .tasti_azione_album .icone_esecuzione {
  display: none;
}
main #section_1 .tasti_azione_album #tasto_like,
main #section_1 .tasti_azione_album #tasto_download,
main #section_1 .tasti_azione_album .altro {
  margin-right: 10px;
}
main #section_1 .tasti_azione_album #tasto_play {
  font-size: 1.2rem;
  margin-right: 15px;
  padding: 10px;
  border-radius: 100px;
  background-color: #1bb451;
  color: #000;
}
main #section_1 .tasti_azione_album .button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.6rem;
  letter-spacing: 1px;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #1b1b1b;
}
main #section_1 .tasti_azione_album .altro {
  letter-spacing: 1.7px;
  font-size: 1.7rem;
  margin-left: 15px;
}
main #section_1 .tabella_brano_piaciuto {
  display: flex;
  background-color: #1b1b1b;
}
main #section_1 .tabella_brano_piaciuto .tasti_e_tabella {
  width: 50%;
}
main #section_1 .tabella_brano_piaciuto .tasti_e_tabella table {
  width: 100%;
  padding-bottom: 10px;
}
main #section_1 .tabella_brano_piaciuto .tasti_e_tabella table thead {
  border-bottom: 1px solid white;
}
main #section_1 .tabella_brano_piaciuto .tasti_e_tabella table thead tr th {
  font-size: 1rem;
}
main #section_1 .tabella_brano_piaciuto .tasti_e_tabella table tbody tr #image-song {
  text-align: left;
}
main #section_1 .tabella_brano_piaciuto .tasti_e_tabella table tbody tr td {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
main #section_1 .tabella_brano_piaciuto .tasti_e_tabella table tbody tr td:nth-child(2) {
  text-align: unset;
  display: flex;
  align-items: center;
}
main #section_1 .tabella_brano_piaciuto .tasti_e_tabella table tbody tr td:nth-child(2) img {
  width: 20%;
  height: 20%;
  max-width: 70px;
  margin-right: 10px;
}
main #section_1 .tabella_brano_piaciuto .tasti_e_tabella table tbody tr td #image-song {
  border: 1px solid red;
}
main #section_1 .tabella_brano_piaciuto .brani_piaciuti {
  padding-left: 50px;
  width: 50%;
}
main #section_1 .tabella_brano_piaciuto .brani_piaciuti > p {
  font-weight: 700;
  font-size: 1rem;
}
main #section_1 .tabella_brano_piaciuto .brani_piaciuti .brani_piacciono_scomparsa_desktop {
  display: none;
}
main #section_1 .tabella_brano_piaciuto .brani_piaciuti .brano_img_testi {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
main #section_1 .tabella_brano_piaciuto .brani_piaciuti .brano_img_testi img {
  width: 20%;
  height: 20%;
  max-width: 70px;
}
main #section_1 .tabella_brano_piaciuto .brani_piaciuti .brano_img_testi .testi {
  padding-left: 10px;
}
main #section_1 .tabella_brano_piaciuto .brani_piaciuti .brano_img_testi .testi p,
main #section_1 .tabella_brano_piaciuto .brani_piaciuti .brano_img_testi .testi span {
  font-size: 0.8rem;
}
main #section_1 .tabella_brano_piaciuto .brani_piaciuti .brano_img_testi .testi > span {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }
  main #section_1 .contenitore_arrow .arrow_right {
    display: none;
  }
  main #section_1 .tasti_azione_album {
    display: flex;
    justify-content: space-between;
  }
  main #section_1 .tasti_azione_album .play_a_scomparsa_left {
    display: none;
  }
  main #section_1 .tasti_azione_album .secondo_div_mobile,
main #section_1 .tasti_azione_album .play_a_scomparsa_right,
main #section_1 .tasti_azione_album .icone_esecuzione {
    display: unset;
  }
  main #section_1 .tasti_azione_album .secondo_div_mobile {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  main #section_1 .tasti_azione_album .secondo_div_mobile .play_a_scomparsa_right {
    font-size: 1.2rem;
    padding: 10px;
    margin-left: 5px;
    border-radius: 100px;
    background-color: #006300;
    color: white;
  }
  main #section_1 .tasti_azione_album .secondo_div_mobile .icone_esecuzione {
    font-size: 1.7rem;
    color: white;
  }
  main #section_1 .tabella_brano_piaciuto {
    flex-direction: column-reverse;
  }
  main #section_1 .tabella_brano_piaciuto .tasti_e_tabella,
main #section_1 .tabella_brano_piaciuto .brani_piaciuti {
    width: 100%;
  }
  main #section_1 .tabella_brano_piaciuto .brani_piaciuti {
    margin-bottom: 20px;
    padding-left: 30px;
  }
  main #section_1 .tabella_brano_piaciuto .brani_piaciuti .brani_piacciono_scomparsa_mobile {
    display: none;
  }
  main #section_1 .tabella_brano_piaciuto .brani_piaciuti .brano_img_testi .testi {
    display: flex;
    flex-direction: column;
  }
  main #section_1 .tabella_brano_piaciuto .brani_piaciuti .brano_img_testi .testi .brani_piacciono_scomparsa_desktop {
    font-size: 1rem;
    display: unset;
  }
}/*# sourceMappingURL=style_artist.css.map */