.navBar {
    i {
        font-size: 25px;
    }
}
.musica {
    font-weight: bold;
    list-style-type: none;
    display: inline-flex;
    li{
        margin-left: 15px;
    }
}
.container{
    .card{
        background-image: linear-gradient(to bottom right, gray, rgb(77, 75, 75)); 
    }
    h5{
       
        a{
            text-decoration: none;
            color: white;
            font-size: 15px;
            i{
                font-size: 10px;
            }
        }
    } 
}
.container_playlist {
    .card{
    background-image: linear-gradient(to bottom right, rgb(141, 39, 39), rgb(41, 11, 11));
    }
    span{
        color: gray;
    }
    #icone{
        font-size: 25px;
        button {
            font-size: 25px;
        }
    }
    .btn:hover{
        color: green;
    }
}
footer{
    .container{
        opacity: 0.5;
    }
    .row{
        margin-top: 10px;
        i{
            font-size: 25px;
        }
    }
    p{
        font-size: 10px;
        margin-bottom: 0;
        color: white;
    }
}