main {

    background-color: #121212;
    width: 65%;
    padding: 0 $size_10;



    #section_1 {

        .arrow {

            padding: $size_10 0;
            margin-top: $size_10;

        }

        .contenitore_saluto_icone--icone {

            display: none;

        }

        p {

            font-size: $font_size_1_2;

        }

        &>p {

            font-size: $font_size_1_2;
            font-weight: $font_weight_700;
            margin: $size_20 0;

        }

        .album_in_evidenza {

            border-radius: 5px;
            background-color: $color_black;
            display: flex;
            justify-content: space-between;

            img {

                max-height: 200px;
                display: flex;
                align-self: center;
                padding: 2px;

            }

            .img_testi {

                display: flex;

            }

            .testi {

                padding: $size_20 $size_10;

                & p:first-child {

                    text-transform: uppercase;
                    font-size: $font_size_0_7;

                }

                & p:nth-child(2) {

                    font-size: $font_size_2_2;
                    font-weight: $font_weight_700;

                }

                .pulsanti {

                    padding: $size_10 0;

                    .pulsante_play,
                    .pulsante_salva {

                        padding: $size_5 $size_15;
                        font-weight: $font_weight_700;
                        border-radius: 20px;
                        font-size: $font_size_0_6;
                        text-decoration: none;

                    }

                    .pulsante_play {

                        margin-right: $size_5;
                        color: $color_black;
                        background-color: #1ed760;

                    }

                    .pulsante_salva {

                        margin-right: $size_10;
                        border: 1px solid #4f4f4f;
                        color: $color_white;

                    }

                    .span_autore_singolo_in_evidenza {

                        padding: $size_3;
                        font-size: $font_size_1_2;
                        letter-spacing: 1.7px;

                    }

                }

            }

            .nascondi {

                padding: $size_20 $size_10;
                text-transform: uppercase;
                color: #686868;
                font-size: $font_size_0_7;

            }

        }

        .preferiti {

            display: flex;
            flex-wrap: wrap;

            .tre_in_alto,
            .tre_in_basso {

                display: flex;

            }

            .preferito {

                width: 32%;
                background-color: #2c2c2c;
                border-radius: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: $size_5;

                img {

                    width: $quarter;
                    max-width: 100px;
                    padding: 2px;

                }

                .testi {

                    padding: $size_5 $size_10;

                }

            }

        }
    }

    #section_2 {

        .testi {

            font-size: $font_size_0_8;
            margin: $size_20 0;
            display: flex;
            justify-content: space-between;

            p {

                font-weight: $font_weight_700;

            }

            span {

                font-size: $font_size_0_7;
                text-transform: uppercase;
                color: #686868;

            }

        }

        .altri_preferiti {

            display: flex;

            .altro_preferito {

                width: 20%;
                background-color: #171717;
                padding: $size_10;
                margin: $size_5;
                border-radius: 10px;

                .riga-sotto {
                    
                    display: none;

                }

                img {

                    width: 100%;

                }

                p,
                span {

                    font-size: $font_size_0_8;

                }

                span {

                    color: #686868;

                }

            }

        }

    }


}

@media screen and (max-width: 768px) {

    main {

        width: 100%;

        #section_1 {

            .arrow {

                display: none;
    
            }

            .contenitore_saluto_icone {

                font-size: $font_size_1_5;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: $size_5;
                
                .contenitore_saluto_icone--icone {
    
                    display: unset;

                    ion-icon {

                        margin-left: $size_10;

                    }
        
                }

            }

            .album_in_evidenza {

                display: none;

            }

            .preferiti {

                justify-content: center;
    
                .preferito {
    
                    width: 48%;
    
                }
    
            }

        }

        #section_2 {

            .altri_preferiti {
    
                flex-direction: column;
    
                .altro_preferito {
    
                    text-decoration: none;
                    width: 100%;
                    padding: $size_5;

                    .riga-sopra {

                        display: flex;
                        align-items: center;

                        .testi-sopra {
                            display: flex;
                            align-self: flex-start;
                            flex-direction: column-reverse;
                            padding-left: $size_10;

                        }

                    }

                    .riga-sotto {

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 5px 5px 5px;

                        .riga-sinistra,
                        .riga-destra {

                            display: flex;
                            align-items: center;

                        }

                        .riga-sinistra {

                            ion-icon {

                                margin-right: $size_5;

                            }

                        }

                        .riga-destra {

                            ion-icon {

                                margin-left: $size_5;

                            }

                        }
                        
                    }
    
                    img {
    
                        width: 20%;
    
                    }
    
                }
    
            }

        }

    }

}

@media screen and (max-width: 519px) {

    main {

        #section_1 {

            .preferiti {

                .preferito {

                    width: 100%;

                }

            }

        }

    }

}