aside {

    font-size: $font_size_0_8;
    background-color: $color_black;
    width: 15%;
    padding: $size_5;

    img {

        width: 50px;
        height: 50px;

    }

    #attivita,
    #notifiche {

        padding: $size_5;

    }
    
    #attivita {

        display: flex;
        justify-content: space-between;

        ion-icon {

            color: #686868;

        }

    }

    #notifiche {

        .notifica {

            display: flex;
            justify-content: space-between;

            img {

                width: $quarter;
                height: $quarter;
                max-width: 30px;

            }

            p,
            span {

                color: #686868;

            }

            p {

                padding-left: $size_10;

            }

            span {

                font-size: $font_size_0_6;

            }

        }

    }

}

@media screen and (max-width: 768px){
    
    aside {

        display: none;

    }

}